@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron text-center p-5 bg-primary text-white">
    <h1>Добро пожаловать в Евроблок</h1>
    <p>Производство качественной плитки для вашего дома и бизнеса</p>
</div>
