/* Общие настройки */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #270be144;
    color: #2c2c2c;
}

/* Обёртка для всей страницы */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Верхний бар (Top Bar) */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3D3630;
    padding: 10px 0;
    z-index: 1000;
}

    .top-bar .container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

.top-info span {
    margin: 0 10px;
    color: #fff;
}

/* Стили для слайдера */
#advertisement-carousel {
    margin-top: 20px;
}

    #advertisement-carousel .carousel-item img {
        height: 500px;
        object-fit: cover;
    }

/* Header */
header {
    position: fixed;
    top: 50px;
    width: 100%;
    
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2c2c2c;
}

.callback-btn {
    background-color: #4f6f4c;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

    .callback-btn:hover {
        background-color: #445a23;
        transform: scale(1.05);
        color: #fff !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

/* Основной контент текст*/
.content {
    flex: 1;
    margin-top: 100px;
    padding: 30px;
    background-color: #CBB7A6;
    color: #2c2c2c;
}

/* Стили для заголовка "Наша продукция" */
.products-title {
    text-align: center; /* Центрирование текста */
    margin: 50px 0; /* Отступы сверху и снизу */
    font-size: 2.5rem; /* Размер шрифта */
    color: #2c2c2c; /* Цвет текста */
}

/* Стили для кликабельной карточки продукта */
.product-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-card {
    background-color: #3D3630;
    color: #c2d3ac;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    /* При наведении карточка слегка увеличивается и появляется тень */
    .product-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    }

/* Footer */
footer {
    background-color: #3D3630;
    color: #2c2c2c;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-left p {
    margin: 5px 0;
}

.footer-right {
    display: flex;
    gap: 15px;
}

.social-btn {
    color: #2c2c2c;
    font-size: 1.5rem;
    transition: color 0.3s;
    text-decoration: none;
}

    .social-btn:hover {
        color: #270be144;
    }

/* Стили для индикаторов слайдера */
.carousel-indicators button {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    background-image: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-indicators button::before {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #556B2F;
        transform: rotate(45deg);
        transition: background-color 0.3s;
    }

.carousel-indicators .active::before {
    background-color: #445a23;
}

/* Стили для бургер-меню */
/* Переопределение стандартных стилей Bootstrap для навигационных ссылок внутри navbar */
.navbar-nav .nav-link {
    background-color: #556B2F;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    text-decoration: none;
}

    .navbar-nav .nav-link:hover {
        background-color: #181e0d; /* Более темный зеленый при наведении */
        transform: scale(1.05);
    }

    .navbar-nav .nav-link.active {
        background-color: #c15748; /* Выделение активной ссылки */
    }
